Django
pytz
#wsgiref
djangorestframework
Pillow
django-filter

pylint
pylint-django
psycopg2==2.9.1
django-annoying
django-tinymce
django-redis
gunicorn
django-taggit
# Testing
nose
unittest2
freezegun
requests-mock

# GeoDjango extra Widgets
django-floppyforms

# Thumbnail resizing and generation
django-image-cropping==1.5.0

easy-thumbnails
# Photo Gallery, since 3.8 Django 1.11 is required
django-photologue==3.13
# The last version supporting Django 1.8
django-storages
boto3
memoized-property
django-model-helpers>=1.2.1
html2text>=2020.1.16
pep8
requests
python-memcached
# libraries needed by requests to avoid the error:
# extension to TLS is not available on this platform.
# sudo apt-get install libffi-dev libssl-dev
pyOpenSSL
ndg-httpsclient
pyasn1
#connect apps
# Unirest
requests-oauthlib
oauthlib
